---
layout: archive
title: "Proud Mom!"
permalink: /portfolio/
author_profile: true
---

<html>
<head>
<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>
<body>

<h2>My Dear Son <3</h2>
<p></p>

<div class="row">
  <div class="column">
    <img src="/images/Everestle.jpg" alt="Snow" style="width:100%">
  </div>
  <div class="column">
    <img src="/images/everestlemuze.jpg" alt="Forest" style="width:100%">
  </div>
  <div class="column">
    <img src="/images/everest3bmx.jpg" alt="Mountains" style="width:100%">
  </div>
</div>

 <div class="row">
  <div class="column">
    <img src="/images/IMG_2986.jpg" alt="Snow" style="width:100%">
  </div>
  <div class="column">
    <img src="/images/IMG_2727.jpg" alt="Forest" style="width:100%">
  </div>
  <div class="column">
    <img src="/images/IMG_6616.jpg" alt="Mountains" style="width:100%">
  </div>
</div>
</body>
</html>

<br/><img width="400" height="500" src='/images/Everestle.jpg'>
<br/>With My Son <3

<br/><img width="400" height="500" src='/images/everestlemuze.jpg'>
<br/>At the Speed Art Museum, We love exploring museums together! 
                    
<br/><img src='/images/everest3bmx.jpg' width="400" height="500">
{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

